<html>
<head>
<title>Bonjour!</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
<body>

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image accueil" class="centre_image"></p>
<br>

<hr>
<p class="centre_texte"> Bonjour {{profile.prenom}} {{profile.nom}}, bienvenue sur votre page personnelle !</p>
<hr>

<p class="centre_texte"> Faire une recherche sur les livres :</p>
<form action="http://127.0.0.1:5000/recherche">
    <input type="submit" value="Recherche" name="Inscription" class="centre_button"/>
</form>

<hr>
<p class="centre_texte"> Acceder a ma commande : </p>
<form action="http://127.0.0.1:5000/commande">
    <input type="submit" value="Commande" name="Commande" class="centre_button"/>
</form>

<hr>
<p class="centre_texte"> Voici l'historique de vos commandes : </p>

 <table class="a">
  <tr>
    <th>ID de commande</th>
    <th>Mode de paiement</th>
    <th>Prix total</th>
    <th>Date de commande</th>
    <th>Date d'expedition</th>
  </tr>
    {% for item in commandes %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
  </tr>
    {% endfor %}
</table>
<hr>
<p class="centre_texte"> Voici certains livres recommand&eacutes selon vos go&ucirc;ts pour le genre {% for item in pref %} {{item[0]}} {% endfor %}: </p>

<table class="a">
  <tr>
    <th>ISBN</th>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Date de publication</th>
      <th>Co&ucirc;t</th>
  </tr>
    {% for item in recommande %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
      <td>{{item[4]}} $</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>