<html>
<head>
<title>Inscription</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
  <script src="../static/MonFichierCode.js"></script>
</head>
<body>

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image acceuil" class="centre_image"></p>
<br>

<!--<form style="border:1px solid #ccc" method="post">-->
  <div class="centre_texte">
    <title>Sign Up</title>
    <p>Entrer les informations afin de cr&eacuteer votre compte</p>
    <hr>
    <label for="courriel">Email :</label>
    <input type="text" placeholder="Entrer votre courriel" id="courriel" required">
    <br>
    <label for="prenom">Pr&eacutenom :</label>
    <input type="text" placeholder="Entrer votre prenom" id="prenom" required>
    <br>
    <label for="nom">Nom :</label>
    <input type="text" placeholder="Entrer votre nom" id="nom" required>
    <br>
    <label for="adresse">Adresse :</label>
    <input type="text" placeholder="Entrer votre adresse" id="adresse" required>
    <br>
    <label for="date_de_naissance">Date de naissance :</label>
    <input type="date" placeholder="Entrer la date de naissance" id="date_de_naissance" required>
    <br>
    <label for="psw">Mot de passe :</label>
    <input type="password" placeholder="Entrer mot de passe" id="password" required>
    <br>
    <label for="psw-repeat">R&eacutepeter votre mot de passe : </label>
    <input type="password" placeholder="Repeter mot de passe" id="passsword-repeat" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button onclick="onButtonClickInscription()" class="signupbtn">Inscription</button>
      <br>
      {% if message %}
      <div id="cadre">{{ message }}</div>
      {% endif %}
    </div>
  </div>
<!--</form>-->
</body>
</html>