<html>
<head>
<title>Bonjour!</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
<body>

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image acceuil" class="centre_image"></p>
<br>

<form action="action_page.php" style="border:1px solid #ccc">
  <div class="centre_texte">
    <title>Sign Up</title>
    <p>Entrer les informations afin de cr&eacuteer votre compte</p>
    <hr>

    <label for="email">Email :</label>
    <input type="text" placeholder="Entrer votre courriel" name="email" required">
    <br>
    <label for="prenom">Pr&eacutenom :</label>
    <input type="text" placeholder="Entrer votre prenom" name="prenom" required>
    <br>
    <label for="nom">Nom :</label>
    <input type="text" placeholder="Entrer votre nom" name="nom" required>
    <br>
    <label for="psw">Mot de passe :</label>
    <input type="password" placeholder="Entrer mot de passe" name="password" required>
    <br>
    <label for="psw-repeat">R&eacutepeter votre mot de passe : </label>
    <input type="password" placeholder="Repeter mot de passe" name="passsword-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Inscription</button>
      <br>
      {% if message %}
      <div id="cadre">{{ message }}</div>
      {% endif %}
    </div>
  </div>
</form>
</body>
</html>