<html>
<head>
<title>Inscription</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body>

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image acceuil" class="centre_image"></p>
<br>
  <form method="post">
  <div class="centre_texte">
    <title>Sign Up</title>
    <p>Entrer les informations afin de cr&eacuteer votre compte</p>
    <hr>
    <label for="courriel">Email :</label>
    <input type="text" placeholder="Entrer votre courriel" name="courriel" id="courriel" required>
    <br>
    <label for="prenom">Pr&eacutenom :</label>
    <input type="text" placeholder="Entrer votre prenom" name="prenom" id="prenom" required>
    <br>
    <label for="nom">Nom :</label>
    <input type="text" placeholder="Entrer votre nom" name="nom" id="nom" required>
    <br>
    <label for="adresse">Adresse :</label>
    <input type="text" placeholder="Entrer votre adresse" name="adresse" id="adresse" required>
    <br>
    <label for="date_de_naissance">Date de naissance :</label>
    <input type="date" placeholder="Entrer la date de naissance" name="date_de_naissance" id="date_de_naissance" required>
    <br>
     <label for="preference">Choisissez votre pr&eacutef&eacuterence:</label>
  <select name="preference" id="preference">
      <option value="Roman">Roman</option>
      <option value="Biographie">Biographie</option>
      <option value="Conte">Conte</option>
      <option value="Nouvelle">Nouvelle</option>
      <option value="Science-fiction">Science-fiction</option>
      <option value="Aventure">Aventure</option>
      <option value="Jeunesse">Jeunesse</option>
      <option value="Politique">Politique</option>
      <option value="Policier">Policier</option>
      <option value="Classique">Classique</option>
  </select>
  </form>
    <br>
    <label for="password">Mot de passe :</label>
    <input type="password" placeholder="Entrer mot de passe" id="password" name="password" required>
    <br>
    <label for="password_repeat">R&eacutepeter votre mot de passe : </label>
    <input type="password" placeholder="Repeter mot de passe" id="password_repeat" name="password_repeat" required>

    <div class="clearfix">
        <input type="submit" value="S'inscrire" name="S'inscrire'" class="centre_button">
        <button onclick="onButtonClickCancel()" type="button" class="centre_button">
        Recommencer</button>
      <br>
    </div>
          {% if message %}
    <div id="cadre">{{ message }}</div>
    {% endif %}

  </div>
</body>
</html>