<html>
<head>
<title>Page d'accueil</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body onload="SupprimerContenu()"> 

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image acceuil" class="centre_image"></p>
<br>
<p class="centre_texte">
Bienvenue sur Livres en Vrac, veuillez entrer vos informations afin d'acc&eacuteder &agrave la meilleure librairie en ligne
</p>
<form action="login" method="post">
<p class="centre_texte">Courriel: <input type="text" name="courriel"><br>
Mot de passe: <input type="password" name="motpasse">
<br>
<input type="submit" value="Identification" name="Soumettre"></p>
</form>

{% if message %}
<div id="cadre">{{ message }}</div>
{% endif %}

</body>
</html>