<!DOCTYPE html>
<html>
<head>
<title>Recherche</title>
<link rel="stylesheet" type="text/css" href="/static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body>

<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="/static/test123.png" alt="Image accueil" class="centre_image"></p>
<hr>
<body>
<div class="centre_texte">
    <p>
        Utilisez cette barre afin de faire une recherche sur les livres :
  <form action="resultats_recherche" method="post">
<p class="centre_texte">
  <input type="text" name="recherche_titre" class = "box" id="search-field" type="text" placeholder="Rechercher des livres selon l'attribut sélectionné"><br>
<p class="centre_texte"> Choisissez l'attribut sur lequel effectuer la recherche :
<br>
    <select name="type_recherche">
      <option value="titre">Titre</option>
      <option value="isbn">Code ISBN</option>
      <option value="auteur">Auteur</option>
      <option value="annee_publication">Ann&eacutee de publication</option>
      <option value="preface">Pr&eacuteface</option>
  </select>
    <br>
    <br>
<input type="submit" value="Recherche" name="Soumettre" class="centre_button"></p>
</form>
</body>
</html>


