<html>
<head>
<title>Page d'accueil</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<header class="centre_titre">Livres en Vrac </header>
<br>
<p><img src="..\static\test123.png" alt="Image acceuil" class="centre_image"></p>
<br>
<hr>
    <p class="centre_texte">
        Utilisez cette barre afin de faire une recherche sur les titres
    </p>
    <div id="todos-container">

    </div>


    <input id="todo-search" type="text" placeholder="Search todos" />
    <button type="button" onclick="onSearchClick()">Search</button>
    <div id="search-container">

    </div>
</body>
</html>