<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="centre_texte">
    <p>
        Utilisez cette barre afin de faire une recherche sur le titre des livres
    </p>
    <div id="search-container">

    </div>
    <input class = "box" id="search-field" type="text" placeholder="Rechercher des livres par leur titre" />
    <button class="centre_button" type="button" onclick="onSearchClick()">Recherche</button>
        </input>
    </div>
</body>
</html>

<form action="resultats_recherche2" method="post">
<p class="centre_texte">Recherche par titre
  <input type="text" name="recherche_titre"><br>
<br>
<input type="submit" value="Recherche" name="Soumettre" class="centre_button"></p>
</form>
